<p>
  <mat-toolbar color="primary">
    <span>Simple Angular ASP App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<p class="centre-text">Alexander Walford 2024</p>
<hr />
<h1>Important Information</h1>
<h5>Why did you make this?</h5>
<p>For my <a href="https://github.com/alexanderwalford-official" target="_blank">GitHub</a> portfolio, I have created a simple Angular ASP .NET Core application that can perform basic operations with the API backend to showcase my programming capabilities.</p>
<br />
<h5>What can this app do?</h5>
<p>
  Good question! For starters, it can only do some very basic things to illustrate the differences between the backend and frontend libraries. This may include, but is not limited to:

  <mat-list role="list">
    <mat-list-item role="listitem">- Simplistic Angular webpages, including components from popular libraries.</mat-list-item>
    <mat-list-item role="listitem">- Basic API requests with C# ASP Core controllers.</mat-list-item>
    <mat-list-item role="listitem">- Illustrates the use of front end components and UI libraries.</mat-list-item>
  </mat-list>
</p>
